/*
	Name	   : Bookface Dark
	Version    : 2.2.0
    Licence    : AGPL
    Created on : 25 AUG 2026
    Author     : Pygoscelis Papua @randompenguin@friendica.world feb @feb@loma.ml Phil @phil@loma.ml
*/

:root {
	color-scheme: dark;
}

