/*
	Name	   : Bookface Light
	Version    : 2.1.7
    Licence    : AGPL
    Created on : 21 AUG 2026
    Author     : Pygoscelis Papua @randompenguin@friendica.world feb @feb@loma.ml Phil @phil@loma.ml
*/

:root {
	color-scheme: light;
}

